<nav class="navbar fixed-top navbar-light bg-black navbar-expand-md navigation">
    <a href="{{ path('homepage') }}" class="navbar-brand">
        <img class="mx-auto d-blockalign-middle" src="{{ asset('build/images/casting-logo.png') }}" alt="Casting sun7">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a href="{{ path('homepage') }}"
                   class="nav-link
                        {% if app.request.attributes.get('_route') == 'homepage' %}
                        active
                        {% endif %}"
                >
                    Accueil
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link
                    dropdown-toggle
                    {% if app.request.attributes.get('_route') == 'egerie' %}
                    active
                    {% endif %}"
                    href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Première édition
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('egerie') }}">Egerie</a>
                    <a class="dropdown-item" href="#">Medias</a>
                    <a class="dropdown-item" href="#">Ils étaient partenaires</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link
                    dropdown-toggle
                    {% if
                        (app.request.attributes.get('_route') == 'presentation' or
                        app.request.attributes.get('_route') == 'reglement')
                    %}
                    active
                    {% endif %}"
                   href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Casting 2018
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('presentation') }}">Présentation</a>
                    <a class="dropdown-item" href="#">Calendrier</a>
                    <a class="dropdown-item" href="{{ path('reglement') }}">Réglement</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('register') }}"
                   class="nav-link
                        {% if app.request.attributes.get('_route') == 'register' %}
                        active
                        {% endif %}"
                >
                    Inscription
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}"
                   class="nav-link
                        {% if app.request.attributes.get('_route') == 'contact' %}
                        active
                        {% endif %}"
                >
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>