{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading candidate">
        <div class="row">
            <div class="col-12 fullname">
                <h1 class="text-left">Profil de {{ user.fullname }}</h1>
            </div>
            <div class="col-md-8 col-sm-12 candidate_mensuration">
                {{ user.age }} ans - {{ user.city }}<br>
                {{ user.candidate.size }} cm - Yeux {{ user.candidate.eye.label }} - Cheveux {{ user.candidate.hair.label }}
            </div>
            <div class="col-md-4 col-sm-12 text-right candidate_actions">
                <a href="#" class="btn btn-outline-primary">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    Ajouter à mes favorites
                </a>
                <a href="#" class="btn btn-outline-secondary">Voter</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 candidate_fullBody">
                <img src="{{ asset('uploads/') ~ user.candidate.fullBody.filename }}" alt="Photo plein pied {{ user.fullname }}" class="img-fluid float-left" width="100%">
            </div>
            <div class="col-md-4 candidate_portrait">
                <div class="row">
                   <div class="col-12">
                       <img src="{{ asset('uploads/') ~ user.candidate.portrait.filename }}" alt="Photo portrait {{ user.fullname }}" class="img-fluid float-right img-thumbnail" width="100%">
                       <span class="position-absolute zoom d-none">
                           <i class="fa fa-search" aria-hidden="true"></i>
                           zoom
                       </span>
                   </div>
                    <div class="col-12">
                        <h3>A propos de moi</h3>
                        <p>
                            {{ user.candidate.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
